<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{/layouts/main.html}">
<head>
    <title>Login</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="is-mobile is-centered columns">
        <div class="column is-half">
            <form class="card" th:action="@{/login}" method="post">
                <header class="card-header">
                    <h1 class="card-header-title title">Login</h1>
                </header>
                <section class="card-content">
                    <div class="field">
                        <label class="label" for="userId">Pick an user</label>
                        <div class="control select is-primary is-fullwidth">
                            <select id="userId" name="userId">
                                <option th:each="user : ${users}" th:text="${user.name}" th:value="${user.id}"></option>
                            </select>
                        </div>
                    </div>
                </section>
                <footer class="card-footer">
                    <button class="button is-primary card-footer-item m-1" type="submit">Pick this user</button>
                </footer>
            </form>
        </div>
    </div>
</th:block>
</body>
</html>
