mixin title(pageTitle)
    title= `Simple Kanban - ${pageTitle}`
doctype html
html
    head
        meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0.5,maximum-scale=2.0")
        link(rel="icon", type="image/png", href="favicon.png")
        link(rel='stylesheet',href='bulma/bulma-1.0.0.css')
        script(type='application/javascript', defer, src='alpinejs/cdn.js')
        script(type='application/javascript', src='htmx.org/htmx.js')
        script(type='application/javascript', src='hx-ds-inc/hx-dataset-include.js')
        script(type='module', src='ionicons/ionicons/ionicons.esm.js')
        script(type='application/javascript', nomodule='', src='ionicons/ionicons/ionicons.js')
        block in_head
    body(x-data,hx-boost)
        //- adding x-data here makes entire document capable of use alpinejs
        //- adding hx-boost makes progressive enhancements in the application
        .container.is-max-widescreen
            if user != null
                nav.navbar
                    .navbar-menu
                        .navbar-start
                            a.navbar-item(href='board') Board
                            a.navbar-item(href='table') Table
                        .navbar-end
                            a.navbar-item(href='logout') Logout
            section.section
                block in_body
            footer.footer
                block in_footer
