mixin title(page_title)
    title= 'Simple Kanban - ' + page_title
doctype html
html
    head
        link(rel='stylesheet',href='bulma/bulma.css')
        script(type='application/javascript', defer, src='alpinejs/cdn.js')
        script(type='application/javascript', src='htmx.org/htmx.js')
        script(type='module', src='ionicons/ionicons/ionicons.esm.js')
        script(type='application/javascript', nomodule='', src='ionicons/ionicons/ionicons.js')
        block in_head
    body
        block in_body
        block in_footer
