<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Simple Kanban</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bulma/1.0.1/css/bulma.css}"/>
    <script type="application/javascript"
            th:src="@{/webjars/htmx.org/2.0.0-beta4/dist/htmx.js}"></script>
    <th:block layout:fragment="head"/>
</head>
<body>
<div class="container is-max-widescreen">
    <nav th:if="${user} != null">
        <a th:href="@{/logout}">Logout</a>
        <a th:href="@{/board}">Board</a>
        <a th:href="@{/table}">Table</a>
    </nav>
    <section class="section is-medium">
        <th:block layout:fragment="content"/>
    </section>
</div>
<footer class="footer">
    <th:block layout:fragment="footer"/>
</footer>
</body>
</html>
