<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Simple Kanban</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0.5,maximum-scale=2.0">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet"
          th:href="@{/webjars/bulma/1.0.1/css/bulma.css}"/>
    <script type="application/javascript"
            th:src="@{/webjars/htmx.org/2.0.0-beta4/dist/htmx.js}"></script>
    <script type="application/javascript" defer
            th:src="@{/webjars/alpinejs/3.14.0/dist/cdn.js}"></script>
    <script>
      htmx.defineExtension('hx-dataset-include', {
        encodeParameters: function (xhr, parameters, elt) {
          Object
            .keys(elt.dataset)
            .forEach(k => parameters
              .append(k, elt.dataset[k]))
        }
      })
    </script>
    <th:block layout:fragment="head"/>
</head>
<body x-data>
<!--/* adding x-data here makes entire document capable of use alpinejs */-->
<div class="container is-max-widescreen">
    <nav class="navbar" th:if="${user} != null">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" th:href="@{/board}">Board</a>
                <a class="navbar-item" th:href="@{/table}">Table</a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>
    <section class="section">
        <th:block layout:fragment="content"/>
    </section>
</div>
<footer class="footer">
    <th:block layout:fragment="footer"/>
</footer>
</body>
</html>
